<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js"></script>
    <script src="/js/ng-notify.min.js"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/style/normalize.css">
    <link rel="stylesheet" href="/style/bootstrap.min.css">
    <link rel="stylesheet" href="/style/ng-notify.min.css">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/oneRoof-style.css">
    <script src="/js/moment.js"></script>
    <script src="/js/feed.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/feed.js"></script>
    <script src="/js/tabs.js"></script>
    <!--<base href="/app.html">-->
</head>

<body id="app-body" ng-app="users" ng-controller="UserController">

    <div id="sidebar-list" class="smallSidebar sidebar">
		<div class ="home-button sidebar-btn">
            <a ui-sref=".feed.detail"><img src="./img/newlogo2-04.png" width="48" height="48"/></a>
        </div>
        <div id="f" class="home-button sidebar-btn" ng-init="todo='./img/icon/sidebar-icons/todo-white.png'" ng-mouseover="todo='./img/icon/sidebar-icons/todo-purple.png'" ng-mouseout="todo='./img/icon/sidebar-icons/todo-white.png'">
            <a ui-sref=".feed.detail"><img src="{{todo}}"/></a>
        </div>
        <div id="r" class="home-button sidebar-btn" ng-init="roomease='./img/icon/sidebar-icons/roommates-white.png'" ng-mouseover="roomease='./img/icon/sidebar-icons/roommates-purple.png'" ng-mouseout="roomease='./img/icon/sidebar-icons/roommates-white.png'">
            <a ui-sref=".roommates.detail"><img src="{{roomease}}"/></a>
        </div>
        <div id="h" ng-class="" class="home-button sidebar-btn" ng-init="houseS='./img/icon/sidebar-icons/house-white.png'" ng-mouseover="houseS='./img/icon/sidebar-icons/house-purple.png'" ng-mouseout="houseS='./img/icon/sidebar-icons/house-white.png'">
            <a ui-sref=".house"><img src="{{houseS}}"/></a>
        </div>
        <div id="a" class="home-button sidebar-btn" ng-init="imgsrc='./img/icon/sidebar-icons/account-white.png'" ng-mouseover="imgsrc='./img/icon/sidebar-icons/account-purple.png'" ng-mouseout="imgsrc='./img/icon/sidebar-icons/account-white.png'">
            <a ui-sref=".settings"><img src="{{imgsrc}}"/></a>
        </div>
    <!-- 	<label for="radio1" class = "sidebar-link text-center">
    		<img src="./img/icon/user-silhouette.png">
    	</label>		
    	<input type="radio" value="personal" name="radio1" id="radio1" checked>
    	
    	<label for="radio2" class = "sidebar-link text-center">
    		<img src="./img/icon/users-group.png">
    	</label>
    	<input type="radio" value="house" name="radio2" id="radio2"> -->


    </div>
    <div id="nav-mobile" class="navbar-fixed-top nav-collapse collapse">
        <div><img src="./img/newlogo2-04.png" height="36px" width="36px"/></div>
        <ul class="nav">
            <li>
                <a ng-click="imageClick('/feed')">Feed</a>
                <a ng-click="imageClick('/roommates')">Roommates</a>
                <a ng-click="imageClick('/house')">House</a>
                <a ng-click="imageClick('/settings')">Settings</a>
            </li>
        </ul>
    </div>
    <div id="header" class="navbar-fixed-top headline box-down">
		<div class="links">
			<div class="head-link col-md-12 col-xs-12 col-sm-12">
				<span class="logo">{{activePage === null ? "OneRoof" : activePage}}</span>

                <a id="signoutButton" href="/api/signout" class="waves-effect btn red lighten-1 z-depth-0">Sign out!</a>
			</div>
            <!--<div id="page-header" class="col-md-4 col-xs-4 logo logo-s" style="margin:0"></div>-->
			<!--<div class="col-md-5">-->
                    <!--<div id="sign-out" class="head-link sign-out">-->
                        <!--<a href="/settings.html" class="btn btn-primary">Settings</a>-->
                        
                    
                     
                    <!--<div class="head-link prof-link">
    					<a href="profile.html" ng-click="loadProf()">
    					<div ng-show="defaultPic">
    						<img src="img/icon/miner.png" alt="Your Profile" width= "48" height="48">
    					</div>
    					<div ng-hide="defaultPic">
    						<img ng-Src="./{{ userPic }}" />
    					</div></a>
    				</div>-->
                <!--</div>-->
			<!--</div>-->
		</div>
    </div>
    
    <!-- Modal logic and pathing -->
    <div id="instructionModal" data-backdrop="static" data-keyboard="false" class="modal fade" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Hi {{currentUser.displayName}}, Welcome to OneRoof!</h4>
            </div>
            <div class="modal-body">
                <div id="firstInstructions" ng-show="showFirstHouseQuestion">
                    <h3>First off we need to know</h3>
                    <h4>Are you part of an existing house?</h4>
                    <button type="button" class="btn btn-success" ng-click="confirmExistingHouse()">Yes</button>
                    <button type="button" class="btn btn-danger" ng-click="noHouse()">No</button>
                </div>
                <div id="createHouse" ng-show="showCreateHouse">
                    <h4>Please Enter a name for your new house.</h4>
                    <input class="form-control" placeholder="House Name" ng-model="modalHouseName" required>
                    <div ng-show="modalHouseNameWarning" style="color:red">Don't forget to enter a house name</div>
                    <button type="button" class="btn btn-danger" ng-click="backToModal1()">Back</button>
                    <button type="button" class="btn btn-info" ng-click="createHouse()">Create House</button>
                </div>
                <div id="enterCode" ng-show="showHouseCodeEntry">
                    <input class="form-control" placeholder="Enter House Code" ng-model="modalHouseCode" required>
                    <div ng-show="modalHouseCodeWarning" style="color:red">Don't forget to enter a house code</div>
                    <button type="button" class="btn btn-danger" ng-click="backToModal1()">Back</button>
                    <button type="button" class="btn btn-info" ng-click="joinHouse()">Join House</button>
                </div>
                <div id="showCode" ng-show="showCode">
                    <h2>You have sucessfully created a new house!</h2>
                    <p>Share the code below with your friends so they can join you!</p>
                    <p>You can find this later in the house icon tab.</p>
                    <h2> {{ generatedHouseCode }}</h2>
                    <button type="button" class="btn btn-success" ng-click="oneOverview()">Continue</button>
                </div>
                <div id="joinSuccess" ng-show="showJoinSuccess">
                    <h2>You have successfully joined a house!</h2>
                    <button type="button" class="btn btn-success" ng-click="oneOverview()">Continue</button>
                </div>
                <div id="oneRoofOverview" ng-show="oneRoofOverview">
                    <h2>Well now that you are in a house, its time to introduce you to OneRoof</h2>
                    <p>OneRoof works to help simplify coordinating your roommates and keep them accountable.</p>
                    <button type="button" class="btn btn-success" ng-click="oneRoofMore()">Tell Me More</button>
                    <button type="button" class="btn btn-danger" ng-click="exitModal()">Let me get to it!</button>
                </div>
                <div id="oneRoofMore1" ng-show="oneRoofMore1">
                    <p>The tabs on the left of the screen allow you to switch between different functionality.</p>
                    <p>From top to bottom we have</p>
                    <ul id="modal-list">
                        <li><img height="10%" width="10%" src="./img/icon/sidebar-icons/todo-purple.png"/>: your home page where you can assign, complete and comment on tasks</li>
                        <li><img height="10%" width="10%" src="./img/icon/sidebar-icons/roommates-purple.png"/>: see information about your roommates</li>
                        <li><img height="10%" width="10%" src="./img/icon/sidebar-icons/house-purple.png"/>: manage house related settings like, responsibility groups</li>
                        <li><img height="10%" width="10%" src="./img/icon/sidebar-icons/account-purple.png"/>: manage personal settings like your name, password, and profile picture.</li>
                    </ul>
                    <button type="button" class="btn btn-success" ng-click="exitModal()">Okay!</button>
                </div>
            </div>
        </div>
    </div>
    <div ui-view>
        <!-- Partials get rendered here!-->
    </div>
</body>

</html>