<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js"></script>
    <link rel="stylesheet" href="/style/normalize.css">
    <link rel="stylesheet" href="/style/bootstrap.min.css">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/oneRoof-style.css">
    <script src="/js/feed.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/feed.js"></script>

</head>

<body ng-app="users" ng-controller="UserController">

    <div class="smallSidebar sidebar">
		<div class = "home-button">
            <a href="/"><img src="./img/newlogo2-04.png" width="48" height="48"></a>
        </div>
		<label for="radio1" class = "sidebar-link text-center">
			<img src="./img/icon/user-silhouette.png">
		</label>		
		<input type="radio" value="personal" name="radio1" id="radio1" checked>
		
		<label for="radio2" class = "sidebar-link text-center">
			<img src="./img/icon/users-group.png">
		</label>
		<input type="radio" value="house" name="radio2" id="radio2">
    </div>
    
    


    <div id="header" class="headline box-down">
		<div class="links">
			<div class="head-link col-md-3">
				<a href="feed.html"><span class="logo"> OneRoof</span></a>
			</div>

			<div class="col-md-8">
				<div class="head-link">
					<a href="/settings.html" class="btn btn-primary">Settings</a>
					<a href="/api/signout" class="btn btn-danger">Sign out!</a>
				</div>
				<div class="head-link prof-link">
					<a href="profile.html" ng-click="loadProf()">
					<div ng-show="defaultPic">
						<img src="img/icon/miner.png" alt="Your Profile" width= "48" height="48">
					</div>
					<div ng-hide="defaultPic">
						<img ng-Src="./{{ userPic }}" />
					</div></a>

				</div>
			</div>	

		</div>
			
    </div>
    
    <div id="instructionModal" class="modal fade" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <div id="firstInstructions" ng-show="showFirstHouseQuestion">
                    <h4>Are you part of an existing house?</h4>
                    <button type="button" class="btn btn-success" ng-click="confirmExistingHouse()">Yes</button>
                    <button type="button" class="btn btn-danger" ng-click="noHouse()">No</button>
                </div>
                <div id="createHouse" ng-show="showCreateHouse">
                    <input class="form-control" placeholder="House Name" ng-model="modalHouseName" required>
                    <button type="button" class="btn btn-info" ng-click="createHouse()">Create House</button>
                </div>
                <div id="enterCode" ng-show="showHouseCodeEntry">
                    <input class="form-control" placeholder="Enter House Code" ng-model="modalHouseCode" required>
                    <button type="button" class="btn btn-info" ng-click="joinHouse()">Join House</button>
                </div>
                <div id="showCode" ng-show="showCode">
                    <h2> {{ generatedHouseCode }}<h2>
                </div>
            </div>
        </div>
    </div>

	<div class="tasks col-md-3">
		<input type="checkbox" name="history" value="history" ng-model="history" ng-click="changeStatus()">See Completed Tasks<br>
        <div class="headerWord text-center">
			<b>Tasks</b>
		</div>

		<div class="task">
		<li ng-repeat="task in tasks" class="task">
			<p>{{task.task_name}}</p>
			<p>{{task.task_descr}}</p>
			<p>{{task.task_time}}</p>
			<p>{{task.task_status}}</p>
			<p>{{task.due_date}}</p>
            <button class="btn btn-submit" ng-model= "completeTaskButton" ng-click="completeTask(task.task_id)">Task Complete</button>
		</li>

		<div class="lower">
		</div>
		<div id="tasks">
		</div>
		<div id="create-task" class ="feed-column">
			<div class="headline">
				<h3>Create a task</h3>
			</div>
			
			<form name="createTaskForm" ng-submit="addTask()" >
					<div class="form-group">
                        <div ng-repeat="assignee in assignees" class="selectedHousemate" id="{{assignee.email}}">
                            <p> {{assignee.displayName}} </p>
                            <button type="button" class="btn btn-warning" ng-click="removeAssignee(assignee)">REMOVE</button>
                        </div>
						<label for="taskOwner">Assign to:</label>
						<select class="form-control" ng-model="currentHousemate" ng-change="addAssignee(currentHousemate)" required>
	    					<option value="">Select Roommate</option>
                            <option ng-repeat="housemate in housemates" value="{{housemate}}">{{housemate.displayName}}</option>
						</select>
					</div>
					<div class="form-group">
						<label for="taskName">Task name</label>
						<input class="form-control" placeholder="Task name" ng-model="taskName" required>
					</div>
					<div class="form-group">
					    <label for="taskType">Task Type (required)</label>
					    <select class="form-control" placeholder="Choose a type of task" ng-model="selectedTaskType" ng-change="chooseTaskType()" required>
						    <option>Bill</option>
						    <option>Chore</option>
					    </select>
					</div>
					<div class="input-group" ng-show="showBillForm">
						<label for="billAmount">Bill Amount</label>
	      				<div class="input-group-addon">$</div>
	      				<input type="text" class="form-control" id="billAmount" placeholder="Amount" ng-model="billAmount">
	      				<div class="input-group-addon">.00</div>
	    			</div>
	    			<div class="form-group" ng-show="showChoreForm">
	    				<label for="chorePriority">Chore Priority</label>
						<input type="text" class="form-control" placeholder="Chore Priority" ng-model="chorePriority">
	    			</div>
					<div class="form-group">
						<label for="taskDueDate">Task Due Date</label>
						<input type="date" class="form-control" placeholder="Task Due Date" ng-model="taskDueDate" required>
					</div>
					<div class="form-group">
						<label for="taskDescription">Task Description (optional) </label>
						<input class="form-control" placeholder="Task description" ng-model="taskDescription">
					</div>
					<input class="btn btn-info" type="submit"></input>
			</form>
		</div>
	</div>
	</div>

	<div id="tasks task-details" class="col-md-8">
		<div class="headerWord text-center">
			<b>Pay Rent</b>
		</div>
		<div class ="details">
		<form>
			<div>
			Assigned To:  
			<input type="text" name="assignee-name" value="You"><br>
			</div>
			<div>
			Assigned By:  
			<input type="text" name="assigner-name" value="Housemate McGee"><br><br>
			</div>
			<div>
			Due Date:  
			<input type="date" name="due-date" value="2016-05-15"><br>
			</div>
			<div>
			Assigned On:  
			<input type="date" name="made-date" value="2016-05-10"><br><br>
			</div>
			<div>
			Priority:  
			<input type="number" name="priority" value="5"><br>
			</div>
			<div>
			Time Left:<br>
			<input type="text" name="time-left" value="4 days 20 hrs"><br><br><br>
			</div>
			
			Details
			<div>
				This bill is for <b>everyone</b>.  <b>Housemate B</b> collects rent, and you can send him a payment on Venmo <a href="payvenyo">here.</a>	
			</div>
			<input type="submit" value="Confirm Bill Paid">
		</form>
		</div>
	</div>
		
	
</body>

</html>