<!DOCTYPE html>
<html>
<head>
	<meta   name="viewport"   content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta   charset="UTF-8">
	<script   src="https://code.jquery.com/jquery-2.2.3.js"   integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="   crossorigin="anonymous"></script>
	<link   rel="stylesheet"   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"   integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script   src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js"></script>
    <script   src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js"></script>
    <link   rel="stylesheet"   href="/style/oneRoof-style.css">
    <link   rel="stylesheet"   href="/style/normalize.css">
	<link   rel="stylesheet"   href="/style/style.css">
	<script src="js/profile.js"></script>
</head>
<body ng-app="profiles" ng-controller="ProfileController">
	<img ng-Src="{{ profilePic }}"/>
	<div> {{ name }}</div>
	<div> {{ email }}</div>
	<div> {{ phone }}</div>

	<h1>Responsibility Groups</h1>
		<li ng-repeat="group in groups">
			<p>{{group.group_name}}</p>
			<p>{{group.group_descr}}</p>
		</li>
	<h1>Tasks</h1>
		<li ng-repeat="task in tasks">
			<p>{{task.task_name}}</p>
			<p>{{task.task_descr}}</p>
			<p>{{task.task_time}}</p>
			<p>{{task.task_status}}</p>
			<p>{{task.due_date}}</p>
		</li>
</body>
</html>