<div id="content-page" class="container-fluid">

	<!-- Modal logic and pathing -->
    <div id="createTaskModal"  data-backdrop="static" data-keyboard="false" class="modal fade" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                	<span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Create a task!</h4>
            </div>
            <div class="modal-body">
            	<div id="create-task" class ="feed-column">
                    <form name="createTaskForm" ng-submit="addTask()" >
                        <div class="form-group">
                            <div ng-repeat="assignee in assignees" class="selectedHousemate" id="{{assignee.email}}">
                                <p> {{ determineDisplayName(assignee) }} </p>
                                <button type="button" class="btn btn-warning" ng-click="removeAssignee(assignee)">REMOVE</button>
                            </div>
                            <label for="taskOwner">Assign to:</label>
                            <select class="form-control" ng-model="currentHousemate" ng-change="addAssignee(currentHousemate)" required>
                                <option value="">Select Roommate</option>
                                <option ng-repeat="housemate in housemates" value="{{housemate}}">{{housemate.displayName === currentUser.displayName ? "Me" : housemate.displayName}}</option>
                                <option ng-repeat="responsibilibuddy in responsibilityGroups.data" value="{{responsibilibuddy}}">{{responsibilibuddy.group_name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="taskName">Task name</label>
                            <input class="form-control" placeholder="Task name" ng-model="taskName" required>
                        </div>
                        <div class="form-group">
                            <label for="taskType">Task Type (required)</label>
                            <select class="form-control" placeholder="Choose a type of task" ng-model="selectedTaskType" ng-change="chooseTaskType()" required>
                                <option>Bill</option>
                                <option>Chore</option>
                            </select>
                        </div>
                        <div class="input-group" ng-show="showBillForm">
                            <label for="billAmount">Bill Amount</label>
                            <div class="input-group-addon">$</div>
                            <input type="text" class="form-control" id="billAmount" placeholder="Amount" ng-model="billAmount">
                            <div class="input-group-addon">.00</div>
                        </div>
                        <div class="form-group" ng-show="showChoreForm">
                            <label for="chorePriority">Chore Priority</label>
                            <input type="text" class="form-control" placeholder="Chore Priority" ng-model="chorePriority">
                        </div>
                        <div class="form-group">
                            <label for="taskDueDate">Task Due Date</label>
                            <input type="date" class="form-control" placeholder="Task Due Date" ng-model="taskDueDate" required>
                        </div>
                        <div class="form-group">
                            <label for="taskDescription">Task Description (optional) </label>
                            <input class="form-control" placeholder="Task description" ng-model="taskDescription">
                        </div>
                        <input class="btn btn-info" type="submit"></input>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Never Mind!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


	<div id="content-overview" class="col-md-3 col-sm-4 col-xs-12">
		<img id="floatingButton" src="../img/icon/plus-button.png" data-toggle="modal" data-target="#createTaskModal"></img>
		<div id="feed-overview" class="tasks">
            <row>
                <ul id="task-menu">
                    <li id="tasks-p" ng-click="showPersonal()">Personal</li>
                    <li id="tasks-g">Group</li>
                    <li id="tasks-h" ng-click="showHistory()">History</li>
                </ul>
            </row>
            <!--<row>
                <input type="checkbox" name="history" value="history" ng-model="history" ng-click="changeStatus()">See Completed Tasks<br></row>
                <div class="headerWord text-center">
                    <b>Tasks</b>
                </div>-->

            <row>
                <div>
                    <div id="choreBoard">
                        <ul id="feed-list">
                        <li ng-repeat="task in tasks" class="center" ng-click="taskSelect(task)">
                            <span class="task-icon">{{task.task_type === "Chore" ? "C" : "$"}}</span>
                            <p>{{task.task_name}}</p>
                            <p><b>Created: </b>{{prettifyDates(task.task_time)}}</p>
                            <p><b>Due: {{prettifyDue(task.task_due_date)}}</b></p>
                            <!--<button class="btn btn-submit" ng-model= "completeTaskButton" ng-click="completeTask(task.task_id)">Task Complete</button>-->
                        </li>
                        </ul>
                    </div>
                </div>
            </row>
		</div>	
	</div>
	<div id="content-details" class="col-md-7 col-sm-7 col-xs-12">
		<div id="feed-details" class="tasks task-details">
		    <div class="headerWord text-center">
		        <h4>{{selectedTask.task_name}}</h4>
		    </div>

		    <div class ="details">
		        <div class="detailedTask">
		            <b>Task Description:</b>
		            <p>{{selectedTask.task_descr}}</p>
		            <b>Task Created On:</b>
		            <p>{{selectedTask.task_time}}</p>
		            <b>Task Status:</b>
		            <p>{{selectedTask.task_status}}</p>
		            <b>Task Due Date:</b>
		            <p>{{selectedTask.due_date}}</p>
		            <b>Task Type:</b>
		            <p>{{selectedTask.task_type}}</p>
		        </div>
		        <div class="taskComment">
		            <h3>Comments</h3>
		            <span class="existingComment" ng-repeat="comment in comments" >
		                <p>{{comment.comment_owner_id}}</p>
		                <p>{{comment.comment_time}}</p>
		                <p>{{comment.comment_descr}}</p>
		                <button class="btn btn-danger" ng-click="deleteComment(comment)">Delete comment</button>
		            </span>
		            <input type="text" id="commentTextBox" placeholder="Add a comment" ng-model="commentDescription">
		            <input class="btn btn-info" type="submit" ng-click="submitComment()"></input>
		        </div>
		    </div>
		</div>
	</div>
</div>
