<div id="content-details" class="col-md-5 col-sm-5 col-xs-5">
	<div id="feed-details" class="tasks task-details">
	    <div class="headerWord">
	        <h4 id="taskTitle">{{selectedTask.task_name}}</h4>
	    </div>

	    <div class="alert alert-success" ng-show="selectedTask.task_status === 'complete'">
	    	<strong>Nice work!</strong> This task is already complete.
	    </div>

	    <div class ="details row">
	        <div class="detailedTask col-md-6">
	            <b>Task Description:</b>
	            <p>{{selectedTask.task_descr}}</p>
	            <b>Task Created On:</b>
	            <p>{{selectedTask.task_time}}</p>
	            <b>Task Status:</b>
	            <p>{{selectedTask.task_status}}</p>
	            <b>Task Due Date:</b>
	            <p>{{selectedTask.due_date}}</p>
	            <b>Task Type:</b>
	            <p>{{selectedTask.task_type}}</p>
	        </div>
	        <div class="taskComment col-md-6" id="taskCommentList">
	            <h3>Comments</h3>
	            <span class="existingComment" ng-repeat="comment in comments" >
	                <p>{{comment.comment_owner_id}}</p>
	                <p>{{comment.comment_time}}</p>
	                <p>{{comment.comment_descr}}</p>
	                <button class="btn btn-danger" ng-click="deleteComment(comment)">Delete comment</button>
	            </span>
	            <input type="text" id="commentTextBox" placeholder="Add a comment" ng-model="commentDescription">
	            <input class="btn light-green lighten-1" type="submit" ng-click="submitComment()"></input>
	        </div>
	    </div>
	    <button class="btn-large" id="completeTask" ng-click="completeTask(selectedTask.task_id)" ng-show="selectedTask.task_status === 'incomplete'"><h4>Complete Task<h4></button>
	</div>

</div>