<div id="content-page" class="container-fluid">

	<!-- Modal logic and pathing -->
	 <!-- data-backdrop="static" data-keyboard="false" -->
    
	<div id="content-overview" class="col-md-6 col-sm-6 col-xs-6">
		<div id="feed-overview" class="tasks row clearfix">
            <row class="col s12">
                <ul class="tabs" id="task-menu">
                    <li class="tab col s5" id="tasks-p" ng-click="showPersonal()"><a href="">Personal</a></li>
                    <li class="tab col s5" id="tasks-g" ng-click="showEveryone()"><a class="active" href="">Everyone</a></li>
                    <li class="tab col s1" id="history" ng-click="showHistory()"><i id="historyIcon" class=" material-icons" ng-style="historyIconColor">restore</i></li>
                </ul>

            </row>

            <row>
                <div>
                    <div id="choreBoard" class="container-fluid">
                        <ul id="feed-list">
                        
                        <li ng-repeat="task in tasks" class="row" ng-click="taskSelect(task)">
                            <a ui-sref=".detail" class="space"><div class="col-sm-2">
                            	<img class="task-icon" ng-src="{{task.task_type === 'Chore' && './img/icon/choreicon.png' || '/img/icon/choreandbills-02-02.png'}}"</span>
                            </div>
                            <div class="col-sm-9">
                            	<p id="individualTaskName">{{task.task_name}}</p>
                            	<p id="individualDueDate"><b>Due: {{prettifyDue(task.task_due_date)}}</b></p>
                            </div></a>
                            <!--<button class="btn btn-submit" ng-model= "completeTaskButton" ng-click="completeTask(task.task_id)">Task Complete</button>-->
                        </li>
                        </ul>
                    </div>
                </div>
                <button class="btn-floating btn-large waves-effect waves-light light-green lighten-1" id="addTaskButton"><i class="material-icons modal-trigger" ng-click="createTask()">add</i></button>
            </row>
		</div>	
	</div>
	<div ui-view></div>
</div>
