<div id="content-details" class="col-md-9 col-sm-9 col-xs-5">
	<div id="feed-details" class="tasks task-details">
	    <div class="headerWord">
	        <h4 id="taskTitle">{{selectedTask.task_name}}</h4>
	    </div>

	    <div class ="details row">
	        <div class="detailedTask col-md-6">
	            <b>Task Description:</b>
	            <p>{{selectedTask.task_descr}}</p>
	            <b>Task Created On:</b>
	            <p>{{selectedTask.task_time}}</p>
	            <b>Task Status:</b>
				<form>
					<select id="getContestTask" class="form-control" ng-model="contest" ng-change="contestTask(contest)">
						<option value="complete">Complete</option>
						<option value="incomplete">Incomplete</option>
					</select>
				</form>
				<b></b>
	            <b>Task Due Date:</b>
	            <p>{{selectedTask.due_date}}</p>
	            <b>Task Type:</b>
	            <p>{{selectedTask.task_type}}</p>
	        </div>
	        <div class="taskComment col-md-6" id="taskCommentList">
	            <h3>Comments</h3>
	            <span class="existingComment" ng-repeat="comment in comments" >
	                <p>{{comment.comment_owner_id}}</p>
	                <p>{{comment.comment_time}}</p>
	                <p>{{comment.comment_descr}}</p>
	                <button class="btn btn-danger" ng-click="deleteComment(comment)">Delete comment</button>
	            </span>
	            <input type="text" id="commentTextBox" placeholder="Add a comment" ng-model="commentDescription">
	            <input class="btn light-green lighten-1" type="submit" ng-click="submitComment()"></input>
	        </div>
	    </div>
	    <button class="btn-large" id="completeTask" ng-click="completeTask(selectedTask.task_id)"><h4>Complete Task<h4></button>
	</div>

</div>