<div id="content-page" class="container-fluid">
	<div id="content-overview" class="col-md-3 col-sm-4 col-xs-12">
		<div id="house-overview""><h2>House Information</h2>
		    <div class="row" ng-show="!house">

		        <div class="col-md-6 col-sm-2" ng-hide="inHouse">
		            <form ng-submit="createHouse()">
		                <div class="form-group">
		                    <label for="createNewHouse"></label>
		                    <input class="form-control" id="createNewHouse" placeholder="House Name" name="setHouseName" ng-model="createNewHouse" required>
		                </div>
		                <input class="btn btn-info" type="submit">
		            </form>
		        </div>

		        <div class="col-md-6 col-sm-2" ng-hide="inHouse">
		            <form ng-submit="joinHouse()">
		                <div class="form-group">
		                    <label for="joinAHouse"></label>
		                    <input class="form-control" id="joinAHouse" placeholder="House Code" name="enterHouseCode" ng-model="joinAHouse" required>
		                </div>
		                <input class="btn btn-info" type="submit">
		            </form>
		    </div>
		    <div class="row" ng-show="!house">
		        <div class="col-md-6">
		        <p>Your House Name: {{ houseName }}</p>
		        <p>Your House Code: {{ houseCode }}</p>
		        <a class="btn btn-danger" ng-click="leaveHouse()">LEAVE HOUSE</a></div>
		    </div>
		    <div ng-hide="">
		    <h3>Manage Responsibility Groups</h3>
		    <div class="row">
		        <div class="col-md-6">
		            <form ng-submit="createGroup()">
		                <input class="form-control" ng-model="groupName" placeholder="Group Name" name="groupName" required>
		                <input class="form-control" ng-model="groupDescr" placeholder="Write a bit about what this group does or is!" name="groupDescr" required>
		                <button class="btn btn-primary">CREATE GROUP</button>
		            </form>
		        </div>
		        <div class="col-md-6">
		            <form>
		                <!--Need to create get house groups-->
		                <select ng-model="joinIntoGroup" class="form-control" ng-options="item.group_name for item in groups" required>
		                        <option value="">Select A Responsibility Group</option>
		                </select>
		                <button class="btn btn-success" ng-click="joinGroup()">JOIN GROUP</button>
		            </form>
		        </div>          
		    </div>

		        
		    <h2>Responsibility Groups</h2>
		    <!--Smoke and Mirrors time-->
		    <ul>
		        <div ng-show="houseJoined">
		        <li><button ng-click="selectDefaultG()" class="btn btn-secondary">Kitchen Crew</button></li></div>
		        <div ng-show="groupJoined">
		            <li><button ng-click="selectOtherG()" class="btn btn-secondary">Downstairs Roommates</button></li>
		        </div>
		        <div ng-show="groupCreated">
		        <li><button ng-click="selectCreateG()" class="btn btn-secondary">New Group Name</button></li>
		        </div>
		    </ul>
		</div>
	</div>
	<div id="content-details" class="col-md-7 col-md-7 col-xs-12">
		<div id="house-detail">
			<div class="createResponsibiltyGroup">
		            <h2>Create a Responsibility Group?</h2>
		            
		            <form ng-submit="createGroup()">
		                <input class="form-control" ng-model="groupName" placeholder="Group Name" name="groupName" required>
		                <input class="form-control" ng-model="groupDescr" placeholder="Write a bit about what this group does or is!" name="groupDescr" required>
		                  
		            <select class="form-control" ng-model="currentHousemate" ng-change="addAssigneeToGroup(currentHousemate)" required>
		                <option value="">Select Roommate or Responsibility Group</option>
		                <option ng-repeat="housemate in housemates" value="{{housemate}}">{{housemate.displayName}}</option>
		            </select>
		                <button class="btn btn-primary">CREATE GROUP</button>
		            </form>
		        </div>
		</div>
	</div>
</div>