<div id="content-page" class="container-fluid">
	<div id="content-overview" class="container-fluid col-md-3 col-sm-4 col-xs-1">
		<div id="roommates-overview">
            <ul id="roommate-list" ng-repeat="housemate in housemates" ng-click="roommateSelect(housemate)">
                <li><a ui-sref=".detail"><img height="96" width="96" style="border-radius:50%" float="left" src="{{housemate.user_pic === null ? 'img/icon/dj.png' : housemate.user_pic}}"/><span style="padding-left:25px;font-size:18px" class="hide-on-small screen remove-name">{{housemate.email  === currentUser.email ? "Me" : housemate.displayName}}</span></a></li>
            </ul>
        </div>
        
	</div>
    <div ui-view></div>
<!--     <div id="content-details" class="col-md-7 col-sm-7 col-xs-12">
        <div id="roommates-detail">
            <div>
                <img height="384" width="384" float="left" src="{{selectedHousemate.user_pic === null ? 'img/icon/dj.png' : selectedHousemate.user_pic}}"/>
            </div>
            <div>
                <b>Name</b>
                <p>{{selectedHousemate.displayName}}</p>
                <b>Email</b>
                <p>{{selectedHousemate.email}}</p>
                <b>Phone Number</b>
                <p>{{selectedHousemate.phone_num === null ? "N/A" : selectedHousemate.phone_num}}</p>
            </div>
        </div>
    </div> -->
</div>