<div id="content-page" class="container-fluid">
	<div id="content-overview" class="col-md-3 col-sm-4 col-xs-12">
		<div id="account-overview">     
	        <div>
	            <h1>Personal Information</h1>
	            <!-- Created current User because displayName wasn't working correctly in other tabs -->
	            <h3>email: {{ currentUser.email }}</h3>
	            <h3>username: {{ currentUser.displayName }} </h3>

	            <h2>Update Name</h2>
	            <form ng-submit="updateName()">
	                <div class="form-group">
	                    <label for="displayNameChange"></label>
	                    <input class="form-control" id="displayNameChange" placeholder="New display name" name="displayName" ng-model="changeDisplayName" required>
	                </div>
	                <input class="btn btn-info" type="submit">
	            </form>

	            <h2>Change Password</h2>
	            <form ng-submit="updatePassword()">
	                <div class="form-group">
	                    <label for="currPass">Current Password</label>
	                    <input class="form-control" id="currPass" placeholder="Current password" name="curPass" ng-model="curPass" required>
	                </div>
	                    <div class="alert alert-danger" role="alert" ng-show="incorrectPass">
	                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	                        <span class="sr-only">Error:</span>
	                        Password is incorrect!
	                </div>
	                <div class="form-group">
	                    <label for="newPass">New Password</label>
	                    <input type="password" class="form-control" id="password" placeholder="New password" name="newPassword" ng-model="newPassword" required>
	                </div>
	                <div class="form-group">
	                    <label for="confirmNewPass">Confirm New Password</label>
	                    <input type="password" class="form-control" id="password" placeholder="Confirm new password" name="password" ng-model="confirmNewPassword" required>
	                </div>
	                <div class="alert alert-danger" role="alert" ng-show="confirmPass">
	                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	                        <span class="sr-only">Error:</span>
	                        Passwords need to match!
	                </div>
	                <input class="btn btn-info" type="submit">
	            </form>

	            <h2>Upload Profile Pic</h2>

	            <form action="/api/upload" method="POST" enctype="multipart/form-data">
	              Select an image to upload:
	              <input type="file" name="image"> 
	              <input type="submit" value="Upload Image">
	            </form> 
	        </div>
		</div>
	</div>
	<div id="content-detail" class="col-md-7 col-md-7 col-xs-12">
		<div id="account-detail"><button type="button" class="btn btn-info" ng-click="oneRoofIcons()">What do the icons mean again?</button></div>
	</div>
</div>
