/**********GENERAL*********/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);


body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

.clear {
  clear: both;
  overflow: hidden;
}


.center {
    margin: 0 auto;
    text-align: center;
}


/****HEADLINE****/

.links {
  margin: 0;
  padding: 20px 25px;
  overflow: hidden;
  color: #eeeeee;
}

.head-link {
  display: block;
  color: #eeeeee;
  float: left;
}

.headlink .logo {
  margin:5px;
}

.head-link a {
  color: #eeeeee;
  font-size:18px;
}

.head-link .btn {
  padding: 16px 16px;
}

.prof-link {
  width:64px;
  float: right;
}

.header-title {
  width:250px;
}

.headline {
  background-color: #9f7cb8;
  font-family: "Open Sans Bold", sans-serif;
  font-weight: bold;
}

.headerWord {
  font-size: 24px;
  margin-top: 25px;
}

.logo {
  font-size:32px;
  margin-top: 25px;
}

.prof-link img {
  border-radius: 100%;
  height: 48px;
  width: 48px;
  border: 2px solid black;
}

/**/




/*****SIDEBAR *******/

.box-down {
  box-shadow: 3px 3px 8px grey;
}

.box-right {
  box-shadow: 0px 25px 0px grey;
}


.sidebar {
  background-color: #B9B4BD;
  color: #9f7cb8;
  z-index:  -1;
  padding:0px;
  padding-right: 60px;

}

.sidebar img {
  position: relative;
  top: -10px;
  margin-left: 10px;
  width:48px;
  height:48px;
  float: left;
}

#feed-sidebar {
  float: left;
  width: 20%;
}
.sidebar input {
    visibility:hidden;
}

.sidebar label {
  cursor: pointer;
  display: block;
  font-size: 20px;
  font-weight:400;
  padding: 20px;
}

input:checked + label {
    border-radius: 0px 8px 8px 0px; 
    border: solid #9f7cb8;
    background: #9f7cb8;
    font-weight: 700;
    color:#eeeeee;
}


/**************TASKS *******/


#profile-main {
  width: 50%;
  display: inline-block;
}

.task-details {
  float: right;
  margin-right: 16px;
}

.task-headline {
  float: left;
  margin-left: 16px;
} 


.task-details, .task-headline {
  color: #eeeeee;
  font-size:22px;
  margin-top: 14px;
  position: relative;
}

.feed-column {
    height: 100%;
    background-color: #eeeeee;
}

.lower {
   padding: 10px;
}

.task {
  background-color: #9f7cb8;
  height:65px;
  border-radius: 16px 16px 16px 16px;
  margin-top: 4px;
  margin-bottom: 4px;
  border: 1px solid black;
}

.tasks {
  height: 100%;
  border-radius: 0px 0px 0px 2px;
  border: 1px solid black;
}

.task img {
  height: 59px;
  width: 59px;
  float: left;
  margin-top: 2px;
  margin-left: 5px;
  border-radius: 100%;
  border: 1px solid black;
}


/********DETAILS**********/
.details input { 
  float: right;
    padding-top: 5px;
  padding-bottom: 5px;
}

.details .info{
  padding-top: 5px;
  padding-bottom: 5px;
}

.details .div {
  float: left;
}

.details {
  position: inline-block;
}

/*******INPUT*******/
.btn-primary {
  background-color: #9f7cb8;
  border-color: #9f7cb8;
}

a.btn-primary:hover {
  background-color: #9f7cb8;
}

a {
  background-color: #9f7cb8;
}


/*********LOGIN*******/
.form-small {
    color: #1a1a1a;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    min-width: 225px;
    height: 425px;
    position: fixed;
    display:block;
    right: 0;
    left: 0;
    margin-top:auto;
    background: #ededed;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-right-radius:25px;
    border-bottom-left-radius:25px;
}

#createFacebook {
   padding-bottom: 15px;
}

.signindetails {
    padding: 15px;
    top: 40px;
    left: 28px;
    position: absolute;
    clear: both;
    display: block;
    overflow: hidden;
}


.login {
    left: 50px;
}

.login-logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  color: #9f7cb8;
}

#backgroundOverlay {
  position: fixed; 
  background-color: rgba(159,124,184, .4);
  /*background-color: rgba(159,124,184, .8);*/
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

#background img {
    max-width: 150%;
    max-height: 150%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -100;
}