/**********GENERAL*********/
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);*/
@font-face {
  font-family: 'Encode Sans';
  src: url('/fonts/EncodeSans-Thin.ttf') ;
}

@font-face {
  font-family: 'Encode Sans Bold';
  src: url('/fonts/EncodeSans-Regular.ttf');
}

body {
  font-family: "Encode Sans", sans-serif;
  height: 100%;
  padding: 0;
  /*overflow:hidden;*/
}

#app-body {
  margin-left:60px;
}

#modal-list {
  list-style: none;
  text-align: left;
}

#modal-list li {
  padding:0;
}

.clear {
  clear: both;
  overflow: hidden;
}

.modal-content {
  margin-top:15%;
  margin-left:20%;
  margin-right:20%;
  text-align:center;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.centered {
  position: relative;
  top:8%;
  left: 50%;
  /* bring your own prefixes */
}

.form-label {
  width:100%;
}

.btn-lg {
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:25px;
  border-bottom-left-radius:25px;
}

/****HEADLINE****/

.links {
  margin: 0;
  overflow: hidden;
  color: #eeeeee;
  padding: 12px;
}

.head-link {
  display: block;
  color: #eeeeee;
  float: left;
}

.headlink .logo {
  margin:5px;
}

.head-link a {
  color: #eeeeee;
  font-size:18px;
}

.prof-link {
  width:64px;
  float: left;
  margin-top: auto;
}

.header-title {
  width:250px;
}

.headline {
  background-color: #9f7cb8;
/*  font-weight: bold;*/
}

.headerWord{
  font-size: 25px;
  margin-top: 25px;
}

.logo {
  font-size:25px;
  margin-top: 25px;
}

.prof-link img {
  border-radius: 100%;
  height: 48px;
  width: 48px;
  border: 2px solid black;
}

.header {
    height: 65px;
}

#signoutButton {
  float: right;
}
/**/




/*****SIDEBAR *******/

.home-button {
    height: 60px;
    width: 60px;
}

.sidebar-btn {
  text-align: center;
}

.sidebar-btn > img {
  vertical-align: middle;
}


.sidebar {
  background-color: #B9B4BD;
  color: #9f7cb8;
  z-index:  -1;
  padding:0px;
  padding-right: 60px;
  top:0;
  left:0;
  position: fixed;
  -webkit-transform: translateZ(0);
}

.sidebar div img {
  position: relative;
  width:48px;
  height:48px;
  float: left;
}

#feed-sidebar {
  float: left;
  width: 20%;
}
.sidebar input {
    visibility:hidden;
}

.sidebar label {
  cursor: pointer;
  display: block;
  font-size: 20px;
  font-weight:400;
}

input:checked + label {
    border-radius: 0px 8px 8px 0px; 
    border: solid #9f7cb8;
    background: #9f7cb8;
    font-weight: 700;
    color:#eeeeee;
}

.smallSidebar {
    background-color: #694489;
    height:100%;
    width:56px;
    float: left;
    overflow: hidden;
}

/**************TASKS *******/

#historyIcon {
  margin-top: 12px;
  color: #bfbfbf;
  /*color: #9f7cb8;*/
}

#profile-main {
  width: 50%;
  display: inline-block;
}

#taskTitle {
  font-size: 25px;
}

.task-details {
  margin-right: 16px;
}

.task-headline {
  float: left;
  margin-left: 16px;
}

#content-overview {
  border-right: solid #e6e6e6;
}

.tabs .tab a{
  color: #694489;
}

.tabs .tab a:hover {
  color: #9f7cb8;
}

.tabs {
  color: #694489;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

.task-details, .task-headline {
  color: #000;
  font-size:22px;
  margin-top: 14px;
  position: relative;
}

.feed-column {
    background-color: #eeeeee;
}

.lower {
   padding: 10px;
}

#individualTaskName {

}

#individualCreationDate {

}

.highlighted {

}

.task {
  background-color: #9f7cb8;
  height:65px;
  border-radius: 16px 16px 16px 16px;
  margin-top: 4px;
  margin-bottom: 4px;
  border: 1px solid black;
}

.tasks {
  /*overflow: hidden;*/
  height: 100vh;
  border-radius: 0px 0px 0px 2px;
  /*border-right: 1px solid black;*/
}

.task img {
  height: 59px;
  width: 59px;
  float: left;
  margin-top: 2px;
  margin-left: 5px;
  border-radius: 100%;
  border: 1px solid black;
}


/********DETAILS**********/
.details input { 
  float: right;
    padding-top: 5px;
  padding-bottom: 5px;
}

.details .info{
  padding-top: 5px;
  padding-bottom: 5px;
}

.details .div {
  float: left;
}

.details {
  position: inline-block;
}

/*******INPUT*******/
.btn-primary {
  background-color: #9f7cb8;
  border-color: #9f7cb8;
}

a.btn-primary:hover {
  background-color: #9f7cb8;
}


/*a {
  background-color: #9f7cb8;
}*/


/*********LOGIN*******/
.form-small {
    color: #1a1a1a;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    min-width: 225px;
    height: 425px;
    position: fixed;
    display:block;
    right: 0;
    left: 0;
    margin-top:auto;
    background: #ededed;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-right-radius:25px;
    border-bottom-left-radius:25px;
    font-family: "Encode Sans Bold";
}

.form-notquiteassmall {
    color: #1a1a1a;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    min-width: 225px;
    height:550px;
    position: fixed;
    display:block;
    right: 0;
    left: 0;
    margin-top:auto;
    background: #ededed;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-right-radius:25px;
    border-bottom-left-radius:25px;
    font-family: "Encode Sans Bold";
}

#createFacebook {
   padding-bottom: 15px;
}

.signindetails {
    padding: 15px;
    top: 40px;
    left: 28px;
    position: absolute;
    clear: both;
    display: block;
    overflow: hidden;
}


.login {
    left: 50px;
}

.login-logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  color: #9f7cb8;
}

.login-logo-small {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  color: #9f7cb8;
}

#background {
    height: 100%;
    width:100%;
    background-color: red;
    overflow: hidden;
    position: absolute;
}


#backgroundImage {
    position: absolute;
    left: 50%;
    margin-left: -1440px;
    margin-top: -250px;
    background:url('/img/chores/vaccuuming.jpg');
    background-size: 100%;
    width:2880px;
    height:1620px;
    overflow-x: hidden;  
}


#backgroundOverlay {
  position: fixed; 
  background-color: rgba(159,124,184, .4);
  /*background-color: rgba(159,124,184, .8);*/
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}




/*************PROFILE PICTURE*************/

#profilePicture img {
  height: 256px;
  width: 256px;
  margin-left: auto;
}


input[type="file"] {
    display: none;
}

/*****************************************/

/* Hiram's work keep out for now */

.prof-link, .sign-out {
  float:right;
}

.navbar-fixed-top {
  margin-left: 60px;
}

#content-page {
  margin-top: 65px;
  padding: 0px;
}
.container {
  margin-left: 0px;
  margin-right: 0px;
}

/*#task-menu {
  list-style: none;
  padding: 0;
  text-align: center;
}*/

#task-menu li {
  display: inline;
  padding: 0px 10px;
}

#feed-list {
  list-style: none;
  margin:0px;
  padding: 0px;
}

.task-icon {
  border-radius: 50%;
  -moz-border-radius: 50%;
  font-size: 20px;
  font-style: bold;
  margin-top:5px;
  height:40px;
  width:40px;
  line-height: 30px;
  color:#FFF;
  display: block;
  text-align: center;
  font-size: 2em;
}

#sidebar-list div:hover {
  color: #fff;
  background-color: #fff;
  cursor: pointer;
}

#sidebar-list div {

  position:relative;

}

#taskCommentList {
  padding:10px;
  overflow-y : scroll;
}

#addTaskButton {
  position: fixed;
  bottom: 0px;
  left: 315px;
  margin:12px;

}

#completeTask {
  background-color: #9f7cb8;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 70%;
  margin:10px;
  padding:5px;
}

#completeTask .h2{
  margin-top:10px;

}

#sidebar-list div img {
  margin-left:9.5%;
  margin-top:9.5%;
}

.img-responsive {
  margin: 0 auto;
}

#roommate-list {
  list-style: none;
  padding:0;
}

#nav-mobile {
  visibility: hidden;
  display: none;
}

#content-detail {
  display: inline;
}

#floatingButton {
  position: fixed;
  float:right;
  height:10%;
  width:10%;
  margin: 20px 20px;
}

#signoutButtonM {
  display: none;
  visibility: hidden;
}

@media (max-width: 768px) { 
  #app-body, .navbar-fixed-top {
    margin:0;
  }

  #signoutButtonM {
    visibility: visible;
    display: inline;
    margin-top: 2%;
    margin-right: 1%;
    float: right;
  }

  body {
    height: 100vh;
  }

  #nav-mobile {
    visibility: visible;
    display: inline;
    background-color: #9f7cb8;
    height: 58px;

  }

  .navbar-header {
    background-color: #9f7cb8;
  }

  #mobile-button {
    padding: 0px 5px 0px 5px;
    margin: 0px;
    margin-left: 2%;
  }

  #titleAnch {
    color:#FFF;
  }
  .collapsed {
    margin: 0px;
  }

  .navbar-brand {
    margin-top: 1%;
    color: #FFF;
  }

  .navbar-default {
    color:#FFF;
  }

  #profile-detail {
    display: none;
    visibility: hidden;
  }

  #header {
    visibility: hidden;

  }

  .sidebar {
    visibility: hidden;
  }

  #sign-out-app {
    visibility: hidden;
  }

}
